.container{
    display: flex;
    flex-direction: row;
}
.column {
    flex-direction: column;
}
.row {
    flex-direction: row;
}
.picture > .overlay{
    border: 2px solid rgb(0, 4, 255);
    flex-wrap: wrap;
    z-index: 2;
    /* flex-shrink: 2; */
}
.content{
    border: 2px solid red;
}
.picture > img {
    z-index: 1;
    position: relative;
}
.item > .picture {
    justify-content: space-between;
}
.button-container {

}
.button-container > .button {
    background-color: pink;
}
.content > .item {
    border: 2px solid black;
}
header {
    height: 240px;
    background-color: lightblue; 
}
body {
    background-color: lightgreen;
}
footer {    
    height: 300px; 
    justify-content: space-between;
    position: relative;
    bottom: 0px;
}
img {
    height: 300px;
}
.t-m{
    padding-left: 65px;
}
/*For small screens*/

@media screen and (max-width: 600px) {

/* put the class here */

}

/*For large screens*/

@media screen and (min-width: 1024px){

/* put the class here */

}