.container{
    display: flex;
    flex-direction: row;
}
.column {
    flex-direction: column;
}
.row {
    flex-direction: row;
}
header {
    height: 240px;
    color: lightblue; 
}
body {
    color: lightgreen;
}
footer {
    height: 300px; 
}
/* black background color, white text and no padding will adjust once the rest of the page is finished*/
