.container{
    display: flex;
    flex-direction: row;
}
.column {
    flex-direction: column;
}
.row {
    flex-direction: row;
}
.overlay{
    border: 2px solid black;
    /* flex-shrink: 2; */
    align-self: auto;
}
.button {
    background-color: pink;
}
.item {
    border: 2px solid black;
}
header {
    height: 240px;
    background-color: lightblue; 
}
body {
    background-color: lightgreen;
}
footer {    
    height: 300px; 
}
img {
    height: 300px;
}
/* black background color, white text and no padding will adjust once the rest of the page is finished*/
