/* Custom CSS Font Imports */
@import url("https://fonts.googleapis.com/css2?family=Kranky&display=swap");
/*For small screens*/
$large_font-size: 24px;

/*link states*/
.nav-buttons a:link {
  color: white;
  font-size: $large_font-size;
}

/* visited link */
.nav-buttons a:visited {
  color: black;
}

/* mouse over link */
.nav-buttons a:hover {
  color: gold;
}

/* selected link */
.nav-buttons a:active {
  color: orange;
}

label > a:link {
  color: black;
}

/* visited link */
label > a:visited {
  color: rgba(0, 174, 255, 0.644);
}

/* mouse over link */
label > a:hover {
  color: pink;
}

/* selected link */
label > a:active {
  color: green;
}

/*For Header*/
.logo-img {
  width: 100%;
  max-width: 200px;
  height: auto;
  padding: 0px 20px;
}

.nav-buttons {
  margin-left: auto;
}

ul li {
  display: inline-block;
  font-size: $large_font-size;
  padding: 0px 20px;
}

.filter-menu {
  background-color: lightskyblue;
  text-align: center;
  height: auto;
  width: 200px;
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
  padding: 20px;
}

.filter-menu-form {
  background-color: white;
  position: center;
  width: 100%;
  padding: 0px 10px 30px 10px;
}

.filter-menu-option {
  background-color: gold;
  padding-top: 10px;
  padding-bottom: 20px;
}

.filter-menu-option select, input[type=text] {
  background-color: orange;
  width: 150px;
}

.filter-menu-label {
  background-color: pink;
  padding-top: 20px;
}

.filter-menu-button {
  background-color: #e6d2d2;
  padding-top: 60px;
  padding-bottom: 5px;
}

.filter-menu-button button {
  width: 120px;
  height: 25px;
  margin: 10px;
}

/*For large screens*/
.container {
  display: flex;
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.overlay-container {
  position: relative;
  top: -305px;
  justify-content: space-between;
}

.overlay {
  /* border: 2px solid white; */
  position: relative;
  color: white;
  padding: 5px;
  /* background-color: black; */
}

.card-container {
  padding: 15px;
}

.description {
  position: relative;
  top: -50px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  font-size: larger;
}

.right-side {
  flex-wrap: wrap;
  justify-content: center;
  max-width: fit-content;
}

.title {
  color: purple;
  position: relative;
  top: -40px;
  text-align: center;
  font-family: kranky;
  font-weight: bold;
  font-size: larger;
  text-shadow: 4px 1px 10px black;
}

img {
  position: relative;
  height: 300px;
  max-width: 100%;
}

.button-container {
  justify-content: space-between;
}

.button, .button-blue {
  background-color: lightblue;
}

/* Using CSS Pre-processor EXTEND capability */
.button-blue {
  background-color: blue;
}

.card {
  border: 5px outset grey;
  border: 5px inset grey;
  width: 280px;
  box-shadow: 5px 7px 8px 2px black;
}

.title1 {
  color: ivory;
  text-align: center;
  background-color: #3e5a5a;
  max-width: 25%;
  margin-left: auto;
  margin-right: auto;
}

header {
  height: 240px;
  background-color: ivory;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 6px outset darkblue;
}

body {
  background: #0c0b82;
  background: linear-gradient(180deg, #0c0b82 0%, black 100%);
}

footer {
  height: 300px;
  justify-content: space-between;
  position: relative;
  bottom: 0px;
}

label {
  background-color: white;
}

/*For small screens*/
@media screen and (max-width: 600px) {
  /* put the class here */
}
/*For large screens*/
@media screen and (min-width: 1024px) {
  /* put the class here */
}

/*# sourceMappingURL=style.css.map */
